@{
    ViewBag.Title = "Annonce créée !";
}

<h3>Votre annonce a été créée</h3>
<p>
    Merci d'avoir créé votre annonce sur bea.nc. <br />
    Vous allez recevoir dans quelques instants un email nous permettant de vérifier votre adresse. Suivez les instructions afin de valider votre annonce. Celle-ci sera alors visible rapidement sur le site !
</p>


<h4>@Html.ActionLink("Retourner à la liste des annonces", "Index", new { controller = "Home" })</h4>