@model Bea.Models.Search.AdvancedAdSearchModel

<h6><i class="  icon-pencil"></i>&nbsp; Filtrer les annonces</h6>
<div class="controls controls-row">
    @Html.DropDownListFor(model => model.FuelSelectedId, (IEnumerable<SelectListItem>)ViewBag.Fuels, "Energie", new { @class = "input-large" })
    @Html.DropDownListFor(model => model.KmBracketSelectedId, (IEnumerable<SelectListItem>)ViewBag.KmBrackets, "Kms", new { @class = "input-large" })
    @Html.DropDownListFor(model => model.AgeBracketSelectedId, (IEnumerable<SelectListItem>)ViewBag.AgeBrackets, "Age", new { @class = "input-large" })
</div>
