<html>

	<head>
		<title>Vos annonces</title>
	</head>
	<body>

		<h3>Bonjour $name</h3>
		<p>
			Voici la liste de vos $adCount annonce(s) actuellement consultable sur $websiteAddress
		</p>
		#foreach($ad in $ads)
			<p>
				<a href="http://www.$websiteAddress/Post/$ad.Id">$ad.Category.Label - $ad.Title</a>
			</p>
		#end
		<p>
			L'équipe de <b>$websiteName</b> vous souhaite une bonne vente !
		</p>

	</body>

</html>