@model Bea.Models.Search.AdSearchResultModel

@{
    ViewBag.Title = String.Format("BEA - {0}", String.IsNullOrEmpty(Model.CategorySelectedLabel) ? "Recherche" : Model.CategorySelectedLabel);
}

@*Adding the search nav bar*@
@Html.Partial("_SpecificSearchFormPartial", Model)

@*If this is a search, display the number of results*@
@if (!String.IsNullOrEmpty(Model.SearchString))
{
    <h3>Recherche (@Model.SearchResultTotalCount annonces)</h3>
}

@foreach (var item in Model.SearchResult)
{
    Html.DisplayFor(x => item.Title);
    
}

    @foreach (var item in Model.SearchResult)
    {
        <div>
            <a href=@Url.Action("Details","Post",new{id=item.AdId})>
                @Html.DisplayFor(x => item)
            </a>
        </div>
        <hr>
    }


<div>
    @Html.Partial("_TestData")
</div>
