@model Bea.Models.Search.AdHomeSearchResultModel

@{
    ViewBag.Title = String.Format("BEA - Recherche : {0}", Model.SearchString);
}

@*If this is a search, display the number of results*@

<h3>Recherche (@Model.SearchResultTotalCount annonces)</h3>

<div class="show-grid row-fluid">

    @foreach (Bea.Models.Search.AdHomeSearchResultItemModel item in Model.Results)
    {
        <div class="span2" style="padding-top: 20px;">
            <img src="@String.Format("/Content/images/{0}.png", item.CategoryImageName)" />
            <div>
                <br />
                <a href="~/Annonces/@item.CategoryUrlPart">@String.Format("{0} ({1})", item.CategoryLabel.ToUpper(), item.ResultCount)</a>
                <br />
                @foreach (Bea.Models.Search.AdHomeSearchResultItemModel subItem in item.SubCategoriesResults)
                {
                    <a href="~/Annonces/@subItem.CategoryUrlPart">@String.Format("{0} ({1})", subItem.CategoryLabel, subItem.ResultCount)</a>
                    <br />
                }
            </div>
        </div>
    }

</div>
