.bea-nav-li
{
    margin-right: 12px;
}

.bea-carousel
{
    width: 600px;
    
}

.bea-centered
{
    margin: 0 auto;
}

.carousel .item > img { display: inline-block; margin: 0 auto;}

.legend-like
{
    -moz-border-bottom-colors: none;
    -moz-border-left-colors: none;
    -moz-border-right-colors: none;
    -moz-border-top-colors: none;
    border-color: -moz-use-text-color -moz-use-text-color #E5E5E5;
    border-image: none;
    border-style: none none solid;
    border-width: 0 0 1px;
    color: #333333;
    display: block;
    font-size: 21px;
    line-height: 40px;
    margin-bottom: 20px;
    padding: 0;
    width: 100%;
}