@{
    ViewBag.Title = "Index";
    IDictionary<Bea.Domain.Location.City, int> nbAdsByCity = Model;
}

<h2>Number of ads by city</h2>

    <ul>
        @foreach (KeyValuePair<Bea.Domain.Location.City, int> item in nbAdsByCity)
        {
            <li>@item.Key.Label (@item.Key.Province.Label) - @item.Value</li>
        }
    </ul>