<?xml version="1.0"?>
<configuration>
  <system.net>
    <mailSettings>
      <smtp from="Test@test.com" deliveryMethod="SpecifiedPickupDirectory">
        <network host="127.0.0.1" port="25" userName="userID" password="*****" defaultCredentials="true" />
        <specifiedPickupDirectory pickupDirectoryLocation="c:\temp"/>
      </smtp>
    </mailSettings>
  </system.net>
</configuration>
