@model Bea.Models.Details.AdDetailsModel

<div class="row-fluid">
    <div class="span12">
        <ul class="breadcrumb">
            <li><a href="/">Accueil</a> <span class="divider">/</span></li>
            @if (!String.IsNullOrEmpty(Model.CategoryGroup))
            {
                <li><a href="#">@Model.CategoryGroup</a> <span class="divider">/</span></li>
                <li><a href="#">@Model.Category</a> <span class="divider">/</span></li>
            }
            <li class="active">@Model.Title</li>
        </ul>
    </div>
</div>
