@model Bea.Models.Details.CarAdDetailsModel

<div>
    <dl class="dl-horizontal">
        <dt>Année modèle</dt>
        <dd>@Html.DisplayFor(model => model.Year)</dd>

        <dt>Kilométrage</dt>
        <dd>@Html.DisplayFor(model => model.Kilometers)</dd>

        <dt>Boîte</dt>
        <dd>@Html.DisplayFor(model => model.GearType)</dd>
    </dl>
</div>