@model Bea.Models.Create.AdvancedAdCreateModel
@Html.HiddenFor(model => model.Type)
<div class="row-fluid">
    <div class="span6">
        <dt>Discipline:</dt>
        <dd>
           @Html.DropDownListFor(model => model.SelectedWaterSportTypeId, (IEnumerable<SelectListItem>)ViewBag.Types, "Choisissez une catégorie", new { @class = "input-large" })
                @Html.ValidationMessageFor(model => model.SelectedWaterSportTypeId, String.Empty, new { @class = "label label-important" })
        </dd>
    </div>
</div>
